html, body {
    font-family: "Open Sans", "Helvetica Neue", Arial, sans-serif;
    height: 100%;
    background: #E74C3C;
  }
  
  .wrapper {
    background: #fff;
    border-radius: 5px;
    margin: 60px auto;
    padding: 30px;
    width: 650px;
  }
  
  .wrapper h1,
  .wrapper h2 {
    text-align: center;
  }
  
  .wrapper h2 {
    font-size: 1.2rem;
    font-weight: normal;
    margin-bottom: 3rem;
    margin-top: -1.2rem;
  }
  
  .wrapper form input[type='file'] {
    display: block;
    margin: 4rem auto;
  }

  #btn-share {
    background: #E74C3C;
    border-color: #E74C3C;
    border-radius: 5px;
    color: #fff;
    display: none;
    font-family: "Open Sans", "Helvetica Neue", Arial, sans-serif;
    font-size: 1rem;
    font-weight: bold;
    margin: 1rem auto;
    padding: 1rem;
    width: 100%;
  }
  
  .wrapper form button {
    background: white;
    border: 1px solid #E74C3C;
    border-radius: 5px;
    color: #E74C3C;
    display: block;
    font-family: "Open Sans", "Helvetica Neue", Arial, sans-serif;
    font-size: 1rem;
    font-weight: bold;
    margin: 1rem auto;
    padding: 1rem;
    width: 100%;
    transition: all ease-in-out 0.5s;
  }
  .wrapper form button:hover{
    background: #E74C3C;
    color:white;
  }
  input[type="file"] {
    display: none;
  }
    background: white;
    border: 1px solid #E74C3C;
  }
  #predictions .food-photo{
    background: #287fca;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    float: left;
    margin: 1rem auto;
    min-height: 370px;
    padding-top: 25px;
    position: relative;
    text-align: center;
    width: 0%;
  }
  #predictions .nutrition {
  background: #287fca;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    float: left;
    margin: 1rem auto;
    min-height: 370px;
    padding-top: 25px;
    position: relative;
    text-align: center;
    width: 100%;
  }
  #predictions .step {
    color: #fff;
    font-size: 0.875rem;
    left: 0.5rem;
    line-height: 1rem;
    position: absolute;
    top: 0.5rem;
  }
  
  #predictions .step span {
    border: 2px solid #fff;
    border-radius: 50%;
    display: inline-block;
    font-weight: bold;
    height: 1rem;
    margin-right: 0.25rem;
    width: 1rem;
    text-align: center;
  }
  
  #predictions .nutrition .step {
    color: #1f2933;
  }
  
  #predictions .nutrition .step span {
    border-color: #1f2933;
  }
  
  #predictions .nutrition {
    background: #f6f6f6;
    float: right;
  }
  
  #predictions #concepts h3 {
    margin: 0.25rem;
  }
  
  #predictions #concepts img {
    display: block;
    margin: auto;
    max-height: 300px;
    max-width: 95%;
  }
  
  #predictions #concepts .loading {
    left: 50%;
    height: 100px;
    margin: -50px 0 0 -50px;
    position: absolute;
    top: 50%;
    width: 100px;
  }
  
  .powered-by {
    font-style: italic;
    text-align: center;
  }
  
  .powered-by img { height: 1rem; }
  

  .webcam-container {
    display: none;
  }